:root{
    --primary-color: blue;
    --Secondary-color:lightblue;
    --accent-color: orange;
    --colour-headings:blue;
    ---color-body: purple;
}
/*typography*/

html{
    font-size: 62.5%;
}
body{
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    color: var(---color-body);
}
h1, h2, h3{
    color:var(--colour-headings);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0%;
}
@media screen and (min-width:1024px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size:2.4rem;
    }
}
/*Links*/

a{
    text-decoration: none;
}
.link-arrow{
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: '-->';
    margin-left: 2px;
    transition: margin-left 0.4s;
    
}
.link-arrow:hover::after{
    margin-left: 15px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}
