<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tenetur
    fugiat magnam dolores eaque sed ipsam ab ex minus voluptatum.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary lining--icon">
          <use xlink:href="images/sprite.svg#minus-2"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">john Smith</h3>
        <p class="quote__company">Total plc</p>
      </div>
    </div>
  </footer>
</blockquote>
